.shadowed {
  position: relative;
}

.shadowed::after {
  border-radius: 0 0 300px 300px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  content: "";
  display: block;
  height: 350px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

/*  @TODO: update image format to webp when most users upgraded to safari 14 or find a better solution in general */
.backgroundImageCCC {
  background-image: url("../../../public/images/analysen/background_ccc.jpg?resize&size=1440&format=jpg");
}

.backgroundImageFom {
  background-image: url("../../../public/images/analysen/background_fom.jpg?resize&size=1440&format=jpg");
}

.backgroundImageZdf {
  background-image: url("../../../public/images/analysen/background_zdf.jpg?resize&size=1440&format=jpg");
}

.backgroundImageCorrelaid {
  background-image: url("../../../public/images/analysen/background_correlaid.jpg?resize&size=1440&format=jpg");
}

@media screen and (min-width: 1441px) {
  .backgroundImageCCC {
    background-image: url("../../../public/images/analysen/background_ccc.jpg?resize&size=1920&format=jpg");
  }

  .backgroundImageFom {
    background-image: url("../../../public/images/analysen/background_fom.jpg?resize&size=1920&format=jpg");
  }

  .backgroundImageZdf {
    background-image: url("../../../public/images/analysen/background_zdf.jpg?resize&size=1920&format=jpg");
  }

  .backgroundImageCorrelaid {
    background-image: url("../../../public/images/analysen/background_correlaid.jpg?resize&size=1920&format=jpg");
  }
}

@media screen and (min-width: 1921px) {
  .backgroundImageCCC {
    background-image: url("../../../public/images/analysen/background_ccc.jpg?resize&size=3840&format=jpg");
  }

  .backgroundImageFom {
    background-image: url("../../../public/images/analysen/background_fom.jpg?resize&size=3840&format=jpg");
  }

  .backgroundImageZdf {
    background-image: url("../../../public/images/analysen/background_zdf.jpg?resize&size=3840&format=jpg");
  }

  .backgroundImageCorrelaid {
    background-image: url("../../../public/images/analysen/background_correlaid.jpg?resize&size=3840&format=jpg");
  }
}
