.shadowed {
  position: relative;
}

.shadowed::after {
  border-radius: 0 0 300px 300px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  content: "";
  display: block;
  height: 350px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.backgroundImageOpenDiscourse {
  background-image: url("../../../public/images/sample/teamwork.jpg");
}

.backgroundImageCCC {
  background-image: url("../../../public/images/analysen/04_Analysen_CCC_markus-spiske-8CWoXxaqGrs-unsplash.jpg?format=webp");
}

.backgroundImageFom {
  background-image: url("../../../public/images/analysen/04_Analaysen_Akademische_ansgar-scheffold-gGI9zZKMG4g-unsplash.jpg?format=webp");
}

.backgroundImageZdf {
  background-image: url("../../../public/images/analysen/04_Analysen_Plenarsaal_bundestag-1006110_1920.jpg?format=webp");
}

.backgroundImageCorrelaid {
  background-image: url("../../../public/images/analysen/04_Analysen_Correlaid_christian-lue-0m5rvoQnwgM-unsplash.jpg?format=webp");
}
